@rendermode InteractiveServer
@inject IJSRuntime JS

<section class="container" style="margin-top:200px;">
    <h2 class="description-title">Adote um animal.</h2>
    <p class="description">
        Animais de várias raças e diversas idades.
        Explore o catálogo e adquira um novo amigo.
    </p>
    <br>
    @* <a class="button" href="#catalog">Catálogo</a> *@
</section>



@if (Loading)
{
    <h2>
        Carregando...
    </h2>
}
else
{
    <section class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-top: 30%;" id="catalog">
        <div class="carousel-inner">
            @for (int i = 0; i < Request.pets.Count; i++)
            {
                @if (GetImage(Request.pets[i].large_results_photo_url))
            {
                    <div class="carousel-item @(i == 0? "active" : string.Empty)">
                        <div class="catalog-container">
                            <div class="imgBx" style="
                            background:url('@Request.pets[i].large_results_photo_url') no-repeat;
                            background-size: cover;
                            background-position: center;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            height: 100%;*/
                            /*background: url('./assets/pexels-chevanon-photography-1108099.jpg') no-repeat;*/
                            transition: .3s linear;">
                            </div>
                            <div class="details">
                                <div class="content">
                                    <h2>
                                        @Request.pets[i].pet_name <br>
                                        <span>@Request.pets[i].primary_breed</span>
                                    </h2>
                                    <p>
                                        @switch (Request.pets[i].age.ToLower())
                                        {
                                            case "adult":
                                                Request.pets[i].age = "Adulto";
                                                break;
                                            case "young":
                                                Request.pets[i].age = "Jovem";
                                                break;
                                            case "senior":
                                                Request.pets[i].age = "Idade avançada";
                                                break;
                                        }
                                        Idade: @Request.pets[i].age

                                        <br>
                                        Sexo: @(Request.pets[i].sex.ToUpper().Equals("M") ? "Macho" : "Fêmea") <br>
                                        Raçã: @Request.pets[i].primary_breed <br>
                                        @(string.IsNullOrEmpty(Request.pets[i].secondary_breed) ? string.Empty : "Raça secundária: " + Request.pets[i].secondary_breed)
                                        Cidade do animal: @Request.pets[i].addr_city <br>
                                        Código do estado: @Request.pets[i].addr_state_code
                                    </p>
                                    @* <h3>Rs. 12,800</h3> *@
                                    <button>Detalhes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <button class="carousel-control-prev" type="button" data-bs-target="#catalog" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#catalog" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
}